@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background: linear-gradient(rgba(0, 80, 98, 0.55), rgba(0, 80, 98, 0.55)),
    url(/images/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}